$main-theme-color: rgb(204, 155, 102);

$second-theme-color: rgb(217, 192, 166);

$third-theme-color: rgb(236, 217, 198);

$last-theme-color: rgb(0, 128, 128);

// 204, 155, 102
// 217, 192, 166
// 236, 217, 198
// 0, 128, 128
