@use "_variables.scss" as *;

main {
  // padding: 10px;

  h1 {
    color: $main-text-color;
  }

  section {
    scroll-snap-align: start none;
  }

  .home {
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-between;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    padding: 20px;
    row-gap: 16px;
    scroll-margin-block-start: 70px;

    .col-1 {
      flex: 1 1;
      min-width: 310px;
    }

    .col-2 {
      display: flex;
      flex: 1 1;
      flex-flow: row nowrap;
      justify-content: flex-end;
      position: relative;
      min-width: 50%;

      .home-big-img {
        background: $second-theme-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        flex: 1;
        height: 400px;
        max-width: 85%;
      }

      .home-small-img {
        background: $second-theme-color;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        height: 50%;
        left: 0;
        min-width: 30%;
        position: absolute;
        top: 30%;
      }
    }
  }

  .about {
    background-color: $second-bg-color;
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-around;
    min-height: calc(100vh - 70px);
    padding: 10px 20px;
    row-gap: 16px;
    scroll-margin-block-start: 70px;

    .col-1 {
      flex: 1 1;
      min-width: 310px;
    }

    .col-2 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      flex: 1 1;
      min-height: 400px;
      min-width: 50%;
    }
  }

  .products {
    scroll-margin-block-start: 70px;

    .products-scroll-container {
      height: calc(100vh - 70px);
      justify-self: center;
      overflow: hidden;
      position: relative;
      width: 80%;

      .product-scroll-primary,
      .product-scroll-secondary {
        animation: scroll-animation 35s linear infinite;
        column-gap: 20px;
        display: flex;
        flex-flow: row nowrap;
        height: 80%;
        position: absolute;
        top: 10%;

        .scroll-product {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          display: flex;
          flex-flow: column;
          height: 100%;
          justify-content: space-between;
          padding: 10px;
          width: 200px;
        }
      }
      .product-scroll-secondary {
        animation-delay: 17.5s;
      }

      .product-scroll-primary:hover {
        animation-play-state: paused;
        & ~ .product-scroll-secondary {
          animation-play-state: paused;
        }
      }

      &:has(> .product-scroll-secondary:hover) {
        .product-scroll-primary,
        .product-scroll-secondary {
          animation-play-state: paused;
        }
      }
    }
  }
}
@keyframes scroll-animation {
  0% {
    left: 1320px;
  }
  100% {
    left: -1320px;
  }
}
