@use "_variables.scss" as *;

main {
  padding: 10px;

  .home {
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
    margin-top: 70px;
    padding: 10px;
    row-gap: 16px;
    scroll-behavior: smooth;
    scroll-margin-block-start: 70px;

    .col-1 {
      flex: 1 1;
      min-width: 310px;
    }

    .col-2 {
      display: flex;
      flex: 1 1;
      flex-flow: row nowrap;
      justify-content: flex-end;
      position: relative;
      min-width: 50%;

      .home-big-img {
        background: $second-theme-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        flex: 1;
        height: 400px;
        max-width: 85%;
      }

      .home-small-img {
        background: $second-theme-color;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        height: 50%;
        left: 0;
        min-width: 30%;
        position: absolute;
        top: 30%;
      }
    }

    h1 {
      color: $main-text-color;
    }
  }
}
