@use "_variables.scss" as *;

.navbar {
  background-color: rgba($second-theme-color, 0.7);
  backdrop-filter: blur(4px);
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  height: fit-content;
  min-height: 70px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .nav-row-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;

    .nav-logo {
      flex: 1;
      font-size: 2rem;
      font-weight: 500;
    }

    .nav-menu-checkbox {
      display: none;
    }

    .nav-menu-toggle {
      position: relative;

      .nav-menu-icon,
      .nav-menu-icon::after,
      .nav-menu-icon::before {
        background: $second-theme-color;
        border-radius: 3px;
        display: block;
        height: 5px;
        position: absolute;
        top: 17px;
        transition: 200ms;
        width: 30px;
      }
      .nav-menu-icon::before {
        content: "";
        top: 10px;
      }
      .nav-menu-icon::after {
        content: "";
        top: -10px;
      }

      @media (hover: hover) {
        &:hover {
          .nav-menu-icon,
          .nav-menu-icon::after,
          .nav-menu-icon::before {
            background-color: $main-theme-color;
          }
        }
      }
    }
  }

  .nav-row-1:has(+ .nav-row-2 > .nav-menu-checkbox:checked) {
    .nav-menu-toggle {
      .nav-menu-icon {
        transform: rotate(135deg);
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
        &::before {
          top: 0;
        }
      }
    }
  }

  .nav-row-2 {
    .nav-menu {
      align-items: center;
      align-self: center;
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      height: 0;
      overflow: hidden;
      transition: height 200ms;

      .menu-item {
        min-height: 40px;
        text-align: center;
        text-wrap: nowrap;
        width: 100%;

        &:hover {
          background: linear-gradient(
            90deg,
            transparent,
            rgba(rgb(221, 194, 168), 0.7),
            transparent
          );
        }
      }
    }

    .nav-menu-checkbox {
      display: none;
    }

    .nav-menu-checkbox:checked {
      & ~ .nav-menu {
        height: 160px;
      }
    }
  }
}
